@font-face {
    font-family: 'maven_proregular';
    src: url('../font/mavenpro-regular-webfont.eot');
    src: url('../font/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/mavenpro-regular-webfont.woff') format('woff'),
         url('../font/mavenpro-regular-webfont.ttf') format('truetype'),
         url('../font/mavenpro-regular-webfont.svg#maven_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{margin:0;padding:0;font-family:'maven_proregular';}

/*  TOP   */

.top{border-style:solid solid solid outset;border-color:#00A69E #00A69E #FFFFFF #FFFFFF;border-width:13px}

/*  MIDDLE  */

.middle{display:table;background-color:#fff;font-variant:small-caps;margin-bottom:3%;margin-top:3%;width:100%}
.middle-left{display:table-cell;width:50%}
.middle-right{width:100%;vertical-align: middle;display:table-cell;float:right;margin-left:20%}
.middle-info{text-align:center;margin-right:25%}
.logo{text-align:center;vertical-align:middle}

/* FOOTER   */

.footer{background-color:#909091;display:table;width:100%;font-variant:small-caps;background-image:url("../images/white.gif"); background-repeat:no-repeat; background-position:49.60% 0%;}
.footer-left-region{display:table-cell;width:50%;border-color: #FFFFFF transparent #555556 #555556;border-style: solid outset solid solid;border-width: 13px;}
.footer-right-region{display:table-cell;text-align:center;border-right: medium none transparent;border-top: 13px solid #FFFFFF;}
#steller-logo{margin-bottom: 5%;margin-top: 5%;}
.footer-info{color:white;text-align:center;margin-top:6%;margin-bottom: 6%;}

/* FORM   */

.roi-form{margin-right:30%}
.roi-title{color:white;padding:11px;}
.roi-label{color:#fff;padding:7px 0 9px 9px}
.roi-submit{margin-left:50%}
.roi-fields{background-color:#909091;border-style:none;border-width:1px;border-color:#D3D3D3;padding:10px 0 10px 0;color:#fff}
.error{font-variant:normal;color:yellow;font-size:12px}
#name{padding-left:33px;margin-top:-6px;}
#email{padding-left:31px}
#phone{padding-left:27px}
#submit{background-color:#909091;border: medium none;color: #FFFFFF;font-variant: small-caps;padding: 10px;height:45px;width:35%;font-size:14px}
#small-square {display:block;left:50%;bottom:30%}
hr{width:50%;margin-left:32%;background-color:#909091;border:0px;border-top:1px dotted #D3D3D3}
#hr-name{border-top-color:#FFFFFF;}

/* MAP */
.location-map{width:100%}
